// Imports
@import "mediaQueries";

// Variables
$primary-color: #000639;
$secondary-color: #f2e0cf;
$accent-color: #95bf47;

// Setup
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

// Utilities
.container {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  @include mq(iPad) {
    max-width: 720px;
  }
  @include mq(smallLaptop) {
    max-width: 1000px;
  }
}

// General Styles

h1 {
  font-size: 4rem;
  font-size: 2.25rem;
  text-align: center;

  @include mq(iPad) {
    font-size: 3.5rem;
  }

  @include mq(smallLaptop) {
    font-size: 4rem;
    text-align: left;
  }
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  font-size: 1.25rem;
  @include mq(iPad) {
    font-size: 1.5rem;
  }
}

h3 {
  font-weight: 500;
  font-size: 1.125rem;
}

p {
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  @include mq(smallLaptop) {
    text-align: left;
  }
}

p.error {
  color: rgb(155, 4, 4);
  font-size: 1.25rem;
  font-weight: 500;
}

button {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  background: $accent-color;

  &:hover {
    cursor: pointer;
    background: $primary-color;
    color: $secondary-color;
  }
}

button.danger {
  background-color: rgb(225, 107, 107);
  color: $primary-color;
  &:hover {
    cursor: pointer;
    background: red;
    color: $secondary-color;
  }
}

button.action {
  background: $primary-color;
  color: $secondary-color;
  &:hover {
    cursor: pointer;
    background: $accent-color;
    color: $primary-color;
  }
}

a {
  text-decoration: none;
  color: $primary-color;
}

li {
  list-style: none;
}

// Main
header {
  background: $secondary-color;
  width: 100vw;
  min-height: 100vh;

  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
      min-height: -webkit-fill-available;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 12rem);
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left {
    width: 100%;
    @include mq(smallLaptop) {
      width: 60%;
    }
  }
}

nav {
  width: 100vw;
  padding: 2rem 0;

  ul {
    display: flex;

    justify-content: center;
    @include mq(smallLaptop) {
      justify-content: space-between;
    }
  }

  li {
    list-style: none;
  }

  .plug {
    display: none;
    @include mq(smallLaptop) {
      display: block;
    }
  }
}

// Home Page
.heading {
  margin-bottom: 0.25rem;
}

.subHeading {
  font-size: 2.75rem;
  font-size: 1.5rem;
  @include mq(iPad) {
    font-size: 2rem;
  }
}

.navToSearch {
  width: fit-content;

  padding: 0.5rem 0.75rem;
  font-size: 1.75rem;
  font-size: 1rem;
  border-radius: 50px;
  border-radius: 20px;
  background: $primary-color;
  color: $secondary-color;
  border: none;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 1.5rem;

  @include mq(iPad) {
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
    border-radius: 40px;
  }

  @include mq(smallLaptop) {
    margin: 1.5rem 0 0 0;
  }

  &:hover {
    cursor: pointer;
    background: $accent-color;
    color: $primary-color;
  }
}

.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  .poster {
    width: 200px;
    height: 300px;
    position: absolute;
    transition: 0.5s transform;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .poster-1 {
    transform: translate3d(-30%, 30%, 0) skew(0deg, 12deg);
    z-index: 3;
    &:hover {
      transform: translate3d(-30%, 20%, 0) skew(-5deg, 12deg);
    }
  }
  .poster-2 {
    transform: translate3d(-10%, 10%, 0) skew(0deg, 12deg);
    z-index: 2;
    &:hover {
      transform: translate3d(-10%, 0%, 0) skew(-5deg, 12deg);
    }
  }
  .poster-3 {
    transform: translate3d(10%, -10%, 0) skew(0deg, 12deg);
    z-index: 1;
    &:hover {
      transform: translate3d(10%, -20%, 0) skew(-5deg, 12deg);
    }
  }
  .poster-4 {
    transform: translate3d(30%, -30%, 0) skew(0deg, 12deg);
    z-index: 0;
    &:hover {
      transform: translate3d(30%, -40%, 0) skew(-5deg, 12deg);
    }
  }

  // not visible in mobile
  display: none;

  @include mq(smallLaptop) {
    display: flex;
  }
}

// Search Page
.searchPage {
  @include mq(iPad) {
    height: calc(100vh - 83px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-83px);
  }

  @include mq(smallLaptop) {
    justify-content: flex-start;
    transform: translateY(0);
    height: fit-content;
  }
}

.searchForm {
  margin: 2rem auto;
  margin: 0 0 2rem 0;
  width: 40%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  label {
    text-align: center;
    width: 100%;
    margin-bottom: 0.75rem;
  }
  h1 {
    font-size: 1.25rem;
    @include mq(iPad) {
      text-align: center;
      font-size: 1.5rem;
    }
  }
  input {
    width: 100%;
    background-color: $secondary-color;
    outline: none;
    border: 2px solid $primary-color;
    color: $primary-color;
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    @include mq(iPad) {
      width: 50%;
    }
  }
}

.presentation {
  display: flex;
  justify-content: space-between;
}

.results,
.message {
  width: 100%;
  @include mq(smallLaptop) {
    width: 65%;
  }
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.results {
  p strong {
    font-weight: 500;
  }

  h2 {
    text-align: center;
  }
}

.cards {
  width: 100%;

  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0 1rem 0;
  }
  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    p {
      margin: 0 2rem;
    }
  }
}

.card {
  width: 100%;
  @include mq(iPad) {
    width: 45%;
  }
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;

  p {
    text-align: left;
  }

  .image {
    width: 35%;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .info {
    width: 60%;

    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .actions {
    display: flex;
    flex-direction: column;

    button {
      width: 60%;
      margin-top: 0.5rem;
    }
  }
}

.nominations {
  width: 30%;

  text-align: center;

  h3 {
    margin-bottom: 0.25rem;
  }
  li {
    margin-bottom: 1.5rem;
  }
  ul {
    margin: 2.5rem 0 1rem 0;
  }

  display: none;

  @include mq(smallLaptop) {
    display: block;

    p {
      text-align: center;
    }
  }
}

.nominations.mobile {
  display: block;
  width: 100%;
}

.mobileSwitcher {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: $primary-color;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary-color;

  @include mq(iPad) {
    width: 3rem;
    height: 3rem;
  }

  @include mq(smallLaptop) {
    display: none;
  }
}
