* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
}

h1 {
  font-size: 4rem;
  font-size: 2.25rem;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 4rem;
    text-align: left;
  }
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-weight: 500;
  font-size: 1.125rem;
}

p {
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 1000px) {
  p {
    text-align: left;
  }
}

p.error {
  color: #9b0404;
  font-size: 1.25rem;
  font-weight: 500;
}

button {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  background: #95bf47;
}

button:hover {
  cursor: pointer;
  background: #000639;
  color: #f2e0cf;
}

button.danger {
  background-color: #e16b6b;
  color: #000639;
}

button.danger:hover {
  cursor: pointer;
  background: red;
  color: #f2e0cf;
}

button.action {
  background: #000639;
  color: #f2e0cf;
}

button.action:hover {
  cursor: pointer;
  background: #95bf47;
  color: #000639;
}

a {
  text-decoration: none;
  color: #000639;
}

li {
  list-style: none;
}

header {
  background: #f2e0cf;
  width: 100vw;
  min-height: 100vh;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    header {
      min-height: -webkit-fill-available;
    }
  }
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100vh - 12rem);
}

header .left,
header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .left {
  width: 100%;
}

@media (min-width: 1000px) {
  header .left {
    width: 60%;
  }
}

nav {
  width: 100vw;
  padding: 2rem 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1000px) {
  nav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

nav li {
  list-style: none;
}

nav .plug {
  display: none;
}

@media (min-width: 1000px) {
  nav .plug {
    display: block;
  }
}

.heading {
  margin-bottom: 0.25rem;
}

.subHeading {
  font-size: 2.75rem;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .subHeading {
    font-size: 2rem;
  }
}

.navToSearch {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 0.75rem;
  font-size: 1.75rem;
  font-size: 1rem;
  border-radius: 50px;
  border-radius: 20px;
  background: #000639;
  color: #f2e0cf;
  border: none;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .navToSearch {
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
    border-radius: 40px;
  }
}

@media (min-width: 1000px) {
  .navToSearch {
    margin: 1.5rem 0 0 0;
  }
}

.navToSearch:hover {
  cursor: pointer;
  background: #95bf47;
  color: #000639;
}

.gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  display: none;
}

.gallery .poster {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
}

.gallery img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .poster-1 {
  -webkit-transform: translate3d(-30%, 30%, 0) skew(0deg, 12deg);
          transform: translate3d(-30%, 30%, 0) skew(0deg, 12deg);
  z-index: 3;
}

.gallery .poster-1:hover {
  -webkit-transform: translate3d(-30%, 20%, 0) skew(-5deg, 12deg);
          transform: translate3d(-30%, 20%, 0) skew(-5deg, 12deg);
}

.gallery .poster-2 {
  -webkit-transform: translate3d(-10%, 10%, 0) skew(0deg, 12deg);
          transform: translate3d(-10%, 10%, 0) skew(0deg, 12deg);
  z-index: 2;
}

.gallery .poster-2:hover {
  -webkit-transform: translate3d(-10%, 0%, 0) skew(-5deg, 12deg);
          transform: translate3d(-10%, 0%, 0) skew(-5deg, 12deg);
}

.gallery .poster-3 {
  -webkit-transform: translate3d(10%, -10%, 0) skew(0deg, 12deg);
          transform: translate3d(10%, -10%, 0) skew(0deg, 12deg);
  z-index: 1;
}

.gallery .poster-3:hover {
  -webkit-transform: translate3d(10%, -20%, 0) skew(-5deg, 12deg);
          transform: translate3d(10%, -20%, 0) skew(-5deg, 12deg);
}

.gallery .poster-4 {
  -webkit-transform: translate3d(30%, -30%, 0) skew(0deg, 12deg);
          transform: translate3d(30%, -30%, 0) skew(0deg, 12deg);
  z-index: 0;
}

.gallery .poster-4:hover {
  -webkit-transform: translate3d(30%, -40%, 0) skew(-5deg, 12deg);
          transform: translate3d(30%, -40%, 0) skew(-5deg, 12deg);
}

@media (min-width: 1000px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .searchPage {
    height: calc(100vh - 83px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(-83px);
            transform: translateY(-83px);
  }
}

@media (min-width: 1000px) {
  .searchPage {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.searchForm {
  margin: 2rem auto;
  margin: 0 0 2rem 0;
  width: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchForm label {
  text-align: center;
  width: 100%;
  margin-bottom: 0.75rem;
}

.searchForm h1 {
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .searchForm h1 {
    text-align: center;
    font-size: 1.5rem;
  }
}

.searchForm input {
  width: 100%;
  background-color: #f2e0cf;
  outline: none;
  border: 2px solid #000639;
  color: #000639;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 768px) {
  .searchForm input {
    width: 50%;
  }
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results,
.message {
  width: 100%;
}

@media (min-width: 1000px) {
  .results,
  .message {
    width: 65%;
  }
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.results p strong {
  font-weight: 500;
}

.results h2 {
  text-align: center;
}

.cards {
  width: 100%;
}

.cards ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0 1rem 0;
}

.cards .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.cards .buttons p {
  margin: 0 2rem;
}

.card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .card {
    width: 45%;
  }
}

.card p {
  text-align: left;
}

.card .image {
  width: 35%;
}

.card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.card .info {
  width: 60%;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .actions button {
  width: 60%;
  margin-top: 0.5rem;
}

.nominations {
  width: 30%;
  text-align: center;
  display: none;
}

.nominations h3 {
  margin-bottom: 0.25rem;
}

.nominations li {
  margin-bottom: 1.5rem;
}

.nominations ul {
  margin: 2.5rem 0 1rem 0;
}

@media (min-width: 1000px) {
  .nominations {
    display: block;
  }
  .nominations p {
    text-align: center;
  }
}

.nominations.mobile {
  display: block;
  width: 100%;
}

.mobileSwitcher {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #000639;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f2e0cf;
}

@media (min-width: 768px) {
  .mobileSwitcher {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 1000px) {
  .mobileSwitcher {
    display: none;
  }
}

.alert {
  background: #95bf47;
  padding: 0.5rem 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: #000639;
  border-radius: 50px;
}

.alert p {
  font-size: 1.5rem;
}

.view {
  margin-top: 2rem;
}

.view h1,
.view li {
  text-align: center;
}
